<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
</head>
<body>
<form action="saveuser" method="post">
<table align="center">
<tr>
 <td>Enter Name</td>
 <td><input type="text" name="name"></td>
</tr>
<tr>
 <td>Enter Email</td>
 <td><input type="email" name="email"></td>
</tr>
<tr>
 <td>Enter Password</td>
 <td><input type="password" name="password"></td>
</tr>
<tr>
 <td>Address</td>
 <td><input type="text" name="address"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="signup"></td>
</tr>
</table>
</form>
</body>
</html>